body {
	background: #62B7EC;
}
#header { 
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: arial;
}
#content {
	display: flex;
	justify-content:center;
	align-items:center;
	flex-flow: column;
}
#hotbar {

	display: flex;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: center;
	
}
.nav-links {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
}
span {
	font-size: 20px;
}
#footer {
	height: 10vh;
	display:flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
h1 {
	font-size: 80px;
}
a:hover {
	background-color: white;
	border-radius: 5px;
}
.nav-item a {
	padding: 5px 10px;	
	text-decoration: none;
	color: black;
	height:100%;
	border: solid 2px black;
}
   @media screen and (max-width: 1200px)
   {
	   .nav-links,
	   #hotbar, .nav-item {
		   flex-direction: column;
		   margin: 10px 0px;
	   }
   }
   @media screen and (max-width: 1200px)
   {
	   #content, #des{
		   display: flex;
		   flex-direction: column;
		   align-items: center;
	   }
   }